name: build

on:
  push:
    branches:
      - main
      - 'release-*'
    tags:
      - '*'
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: a2stuff/build-install-ca65-action@v1
      - uses: a2stuff/build-install-cadius-action@v1

      - name: build a2d - en
        run: bin/setlang en && make && make package
      - name: build a2d - fr
        run: bin/setlang fr && make && make package
      - name: build a2d - it
        run: bin/setlang it && make && make package
      - name: build a2d - es
        run: bin/setlang es && make && make package
      - name: build a2d - pt
        run: bin/setlang pt && make && make package
      - name: build a2d - de
        run: bin/setlang de && make && make package
      - name: build a2d - sv
        run: bin/setlang sv && make && make package
      - name: build a2d - da
        run: bin/setlang da && make && make package

      - name: deploy new version
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1.11.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "out/*.zip,res/README.txt"
          prerelease: true
